html{
	background: lightgray;
}
.heading{
	text-align: center;
	color:  #343030;
}
.primaryButton{
	background: #705ecf;
	padding: 10px;
	text-align: center;
	width: 200px;
	color:  white;
	border: none;
}
.nav a{
    text-decoration: none;
    font-size: x-large;
}
.mainDiv{
	display: flex;
}
.contentDiv{
	width: 80%;
	background: #f7f7f7;
}
.navigationDiv{
	width: 20%;
	background: white;
}





